html { 
    height: 100%; 
} 

body{
    background-color: gainsboro;
    background-blend-mode: overlay;
    background-image: url(/src/undraw_screen_time_vkev.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    background-position: center;
}

#timer{
    font-family: Ubuntu;
    font-size: 60px;
    color: rgb(10, 177, 107);
    position: relative;
}

button{
    font-family: Ubuntu;
    font-weight: 500;
    border-radius: 3mm;
    font-size: 1rem;
    transition-duration: 0.10;
    text-decoration: none;
    height: 2rem;
    width: 7rem;
    position: relative;
}
.btn{
    width: 5rem;
    background-blend-mode: soft-light;
}
.btn:hover{
    width: 6rem;
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
}

button:focus{
    outline: none;
}
#myText {
    font-family: Lobster;
    color: #2F2E41;
    font-size: 3rem;
    padding-bottom: 65px;
}

.nav-bar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.nav-elem{
    padding-right: 1rem;
}

.boxes-area{
    display: table;
    border-spacing: 30px;
    margin-left: auto;
    margin-right: auto;
}

.box{
    display: table-cell;
}

.box-p-header{
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
}

textarea{
    resize: none;
}