---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    B.Sc in Computer & Science with 3.5 years + of experience in software development. Dominion of various programming
    languages, frameworks, CMS. Experience in WEB design and development. Work with Data Base handled
    systems, as well as design, normalization and migration. Knowledge of work with graphic design tools for image
    manipulation, building ERP softwares like Inventory Management, Employee Management, HRMS.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.sc Computer Science & Engineering"
      subtitle="2019 to 2022 at Nothern University Of Bangladesh, Dhaka, Bangladesh"
    />
    <TimeLineElement
      title="Diploma In Engineering (Electrical)"
      subtitle="2010 to 2014 at Khulna Polytechnic Institute, Khulna, Bangladesh"
    />
    <TimeLineElement
      title="Secondary School Certificate(SSC)"
      subtitle="2009 to 2010 at Bangabashi High School, Khulna, Bangladesh"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Executive Officer"
      subtitle="From 2021 at Pragati Life Insurance Ltd, Dhaka, Bangladesh"
      desc="Responsible for developing various systems and applications related to insurance premium calculations, new policies, proposals, HRMS modules, and Account modules. This included developing a parser to automate the verification process of a customer, designing and developing a fintech API and payment gateway for various payment options, implementing various frameworks such as SQLAlchemy ORM, FastAPI, Flask, and Django, and writing database code such as Constraints, Indexes, Views, Stored Procedures, Triggers, and User Defined functions in Oracle 19c. They also developed a big data pipeline for database migration, wrote REST APIs using FastAPI and SQLAlchemy ORM, executed user acceptance testing, generated forms using React and React Hook Forms, and designed and created a backend data SMS API module using PL/SQL Oracle stored procedures, triggers, and functions."/>
    <TimeLineElement
      title="Operation Project Coordinator"
      subtitle="From 2019 to 2021 at Step One Group, Dhaka, Bangladesh"
      desc="Experienced in coordinating with IT departments to update and automate tasks to streamline business needs. Skilled in developing fintech APIs and Payment Gateways using PHP & Python to provide seamless payment experiences for customers. Writing testable codes and produce bug-free codes. Proficient in identifying and notifying outsource developer teams of any inconsistencies in web apps to fix issues using exceptions reports. Designed & developed automation tests for existing apps using Selenium/Playwright to test web app services. Skilled in designing and developing RPA-type automation apps using Selenium Python for mundane and repetitive tasks. Additionally, proficient in developing MS Excel automation using Python OpenPyXL to speed up C&F business processes."
    />
    <TimeLineElement
      title="Senior Network Engineer"
      subtitle="From 2018 to 2019 at Step One Group, Dhaka, Bangladesh"
      desc="Supervised and coordinated teams of 15 to 20 people. Skilled in monitoring all 2G, 3G & 4G sites using Huawei NMS U2000 and M2000. Ability to troubleshoot network issues with site engineers and to train field resources for onsite integration and troubleshooting. Additionally, experienced in E1 troubleshooting and packet service configuring. Also proficient in troubleshooting LTE sites transmission issues in both Ericsson and Huawei domains."
    />
    <TimeLineElement
      title="Junior Network Engineer"
      subtitle="From 2014 to 2018 at Step One Group, Dhaka, Bangladesh"
      desc="Managed the installation, commissioning, integration, and troubleshooting of BSS equipment such as Ericsson RBS (6101/6102/6201/6202/6601/2106i/2116V2/2206) and Ericsson Mini-Link-TN. Possess knowledge of 2G, 3G configuration, and OSS environment, including command files, radio parameters, commissioning, and network integration technical environment. Experienced in using OMT to find faulty units in the GSM system and troubleshooting to identify the root cause. Additionally, proficient in FE (FastEthernet) configuration and troubleshooting. Experienced in configuring and testing Ericsson’s MMU2H, MMU3A, MMU2D, MMU2C Series, LTU155e/o, LTU16x2, Mini Link hybrid, and implementing SNCP protection on different rings. Also worked on traffic capacity upgradation of the old working microwave links, E1 routing and testing on the live Mini Link TN transmission nodes, and visibility of the working mini-link traffic nodes and Hc on NMS using DCN plans while monitoring and removing alarms (Critical, Major, Minor, warning) over ptp RF link."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.hackerrank.com/certificates/4f6cd26e06f2" target="_blank"> Problem Solving (Basic)</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/c6019073a0b2" target="_blank"> Python (Basic)</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/735e42e155ef" target="_blank"> Oracle Database 12c: SQL Fundamentals</a>
    </li>
    <li>
      <a href="https://www.hackerrank.com/certificates/5b4c11dbc4d7" target="_blank"> SQL (Intermediate) Certificate</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>English (C2)</li>
    <li>JavaScript</li>
    <li>Python</li>
    <li>FastAPI</li>
    <li>Django</li>
    <li>Flask</li>
    <li>Pydantic</li>
    <li>C++</li>
    <li>PHP</li>
    <li>Postgres SQL</li>
    <li>MySQL</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>HTML</li>
    <li>Node.js</li>
    <li>Astro</li>
    <li>Bootstrap</li>
    <li>Taildwind</li>
    <li>JQuery</li>
    <li>Wordpress</li>
    <li>Git</li>
    <li>WEB Design</li>
    <li>Office Suite</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>
